{% extends "base.html" %}

{% block title %}My Timeline - {{ block.super }}{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <form method="POST">
            {{ form.body }}
            <input type="submit" value="Post Tweet" />
        </form>
    {% else %}
        <a href="{% url login %}">Log in to post a tweet</a>
    {% endif %}
    <ul>
        {% for tweet in tweets %}
            <li>
                <a href="{% url userline tweet.user.username %}">{{ tweet.user.username }}</a>
                <span class="body">{{ tweet.body }}</span>
            </li>
        {% empty %}
            <li>There are no tweets yet.  Make sure to post one!</li>
        {% endfor %}
    </ul>
    {% if next %}
        <a href="?start={{ next }}">More</a>
    {% endif %}
{% endblock %}