{% extends "base.html" %}

{% block content %}
    <h2>{{ user.username }}&rsquo;s Tweets</h2>
    <ul>
        {% for tweet in tweets %}
            <li>
                <span class="username">{{ tweet.user.username }}</span>
                <span class="body">{{ tweet.body }}</span>
            </li>
        {% empty %}
            <li>There are no tweets yet.  Make sure to post one!</li>
        {% endfor %}
    </ul>
    {% if next %}
        <a href="?start={{ next }}">More</a>
    {% endif %}
{% endblock %}