<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>{% block title %}Twissandra{% endblock %}</title>
		<meta name="description" content="{% block description %}Twissandra is an example Twitter implementation, using Cassandra{% endblock %}" />
	</head>
	<body>
	    <ul id="nav">
	        <li><a href="{% url timeline %}">Home</a></li>
	        <li><a href="{% url publicline %}">Public</a></li>
	        <li><a href="{% url find_friends %}">Find Friends</a></li>
	        {% if request.user.is_authenticated %}
	            <li><a href="{% url logout %}">Sign out of {{ request.user.username }}</a></li>
	        {% else %}
	            <li><a href="{% url login %}">Login</a></li>
	        {% endif %}
	    </ul>
	    {% block content %}
	    {% endblock %}
	</body>
</html>
