{% extends "base.html" %}

{% block title %}Login - {{ block.super }}{% endblock %}

{% block content %}
    <div class="grid_9 alpha">
        <div class="auth grid_4 prefix_1 alpha" id="signin">
            <h2 class="grid_4">Sign In</h2>
            <form method="POST">
                <ul>
                    {{ login_form.as_ul }}
                </ul>
                <input type="hidden" name="kind" value="login" />
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}
                <input type="submit" value="Sign In" />
            </form>
        </div>
    
        <div class="auth grid_4 omega" id="signup">
            <h2 class="grid_4">Sign Up</h2>
            <form method="POST">
                <ul>
                    {{ register_form.as_ul }}
                </ul>
                <input type="hidden" name="kind" value="register" />
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}
                <input type="submit" value="Sign Up" />
            </form>
        </div>
    </div>
{% endblock %}